---
import Card from '@components/Card.astro';
import Badge from '@components/Badge.astro';
import List from '@components/List.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  item: CollectionEntry<'experience'>;
}

const { item } = Astro.props;
const { data: experience } = item;

const functions = experience?.functions?.map( ( job ) => job.title );
---


<Card class="flex flex-col items-start gap-4">
  <Badge>
    {`${experience.from.getFullYear()} - ${experience.to.getFullYear()}`}
  </Badge>
  <h2 class="text-2xl">{experience.title}</h2>
  <p>{experience.description}</p>
  <List list={functions} />
</Card>